# <center> Relational Database Design in SQL

<center>Prathamesh Tari &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 001886537 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; tari.p@husky.neu.edu </center> 
<center>Akshay Shinde &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 001251097 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; shinde.ak@husky.neu.edu</center>

### Introduction

Relational database was proposed by Edgar Codd (of IBM Research) around 1969. It has since become the dominant database model for commercial applications (in comparison with other database models such as hierarchical, network and object models). Today, there are many commercial Relational Database Management System (RDBMS), such as Oracle, IBM DB2 and Microsoft SQL Server. There are also many free and open-source RDBMS, such as MySQL, mSQL (mini-SQL) and the embedded JavaDB (Apache Derby).

A relational database organizes data in tables (or relations). A table is made up of rows and columns. A row is also called a record (or tuple). A column is also called a field (or attribute). A database table is similar to a spreadsheet. However, the relationships that can be created among the tables enable a relational database to efficiently store huge amount of data, and effectively retrieve selected data.

A language called SQL (Structured Query Language) was developed to work with relational databases.

### Objective

There are many distinct objectives that you must achieve in order to design a good, sound, structured database. You can avoid many of the problems you may encounter by keeping the following objectives in mind and constantly focus on these whilst designing your database.

* The database supports both required and ad hoc (unplanned) information retrieval. The database must be designed to store the data necessary to support information requirements defined during the design process and any possible ad hoc queries that may be posed by the users.
* The tables are constructed properly and efficiently. Each table in the database must represent a single subject only and should be composed of relatively distinct fields which keep redundant data to an absolute minimum and should be identified throughout the database by a field with unique values.
* Data integrity is imposed at the field, table and relationship levels. These levels of integrity help guarantee that the data structures and their values will be valid and as accurate as possible at all times.
* The database should support business rules relevant to the organization it is designed for. The data must provide accurate information that is always meaningful to the business.
* The database should lend itself to future growth and development. The database structure should be easily modifiable and expendable as the information requirements of the business continue to change and grow.

### Relational Database Design Process

Step 1: Define the Purpose of the Database (Requirement Analysis)

Step 2: Gather Data, Organize in tables and Specify the Primary Keys

Primary Key :In the relational model, a table cannot contain duplicate rows, because that would create ambiguities in retrieval. To ensure uniqueness, each table should have a column (or a set of columns), called primary key, that uniquely identifies every records of the table.
* The values of primary key shall be unique (i.e., no duplicate value)
* The primary key shall always have a value
* The value of the primary key should not change
* Primary key often uses integer (or number) type. But it could also be other types, such as texts

Step 3: Create Relationships among Tables

The most crucial aspect in designing a relational database is to identify the relationships among tables. The types of relationship include:
* one-to-many
* many-to-many
* one-to-one

Step 4: Normalization
* First Normal Form (1NF): A table is 1NF if every cell contains a single value, not a list of values. This properties is known as atomic. 1NF also prohibits repeating group of columns such as item1, item2,.., itemN. Instead, you should create another table using one-to-many relationship.


* Second Normal Form (2NF): A table is 2NF, if it is 1NF and every non-key column is fully dependent on the primary key. Furthermore, if the primary key is made up of several columns, every non-key column shall depend on the entire set and not part of it.


* Third Normal Form (3NF):A table is 3NF, if it is 2NF and the non-key columns are independent of each others. In other words, the non-key columns are dependent on primary key, only on the primary key and nothing else. For example, suppose that we have a Products table with columns productID (primary key), name and unitPrice. The column discountRate shall not belong to Products table if it is also dependent on the unitPrice, which is not part of the primary key.

Now we have to create a database from the following ER diagram

![alt text](images/ER Diagram.jpg "ER Diagram")

In [13]:
import sqlite3
import pandas as pd

In [44]:
database ='database_sample_portfolio.sqlite'
con = sqlite3.connect(database)
c=con.cursor()

The database will be created if there doesn't already exist with the same name

In [ ]:
country=pd.read_sql("""Create Table 'Country'('id' Integer Primary Key Autoincrement, 'name' Text);""",con)

We are creating a country table with 'id' as its primary key and 'name' as text so each country will be mapped with the id

In [46]:
c.execute("""INSERT INTO 'Country'(id,name) VALUES(1,'Belgium')""")
con.commit()

Inserting data into table using INSERT INTO query. We could specify particular fields in the database or we could simpy just add values if we are going to fill all the columns sequentially

You could also do multiple entries into columns by giving multiple values

In [51]:
c.execute("""INSERT INTO 'Country'(id,name) VALUES (1729,'England'),(4769,'France'),(7809,'Germany')""")
con.commit()

In [56]:
country=pd.read_sql("""SELECT * FROM Country""",con)
country

     id     name
0     1  Belgium
1  1729  England
2  4769   France
3  7809  Germany

Now we need to map the country and league. As we can see from the ER Diagram the primary key of country is common for both the tables. And to normalise the database instead of name country id is mapped in the league table.

![alt text](images/count-league.png "Country-League")

In [ ]:
pd.read_sql("""CREATE TABLE 'League'(`id`INTEGER PRIMARY KEY AUTOINCREMENT,`country_id`INTEGER,`name`TEXT,
FOREIGN KEY(`country_id`) REFERENCES `country`(`id`));""",con)

Inserting the data as we previously did with the country table

In [ ]:
pd.read_sql("""INSERT INTO 'League'((id, country_id, name,) VALUES (1,1,'Belgium Jupiler League'),(1729,1729,'English PremierLeague'),(4769,4769,'France Ligue1'),(7809,7809,'Germany Bundesliga'));""",con)
con.commit()

Similarly we can create player,player attributes, team, team attributes and match tables

Now to collect data for tagging from twitter and facebook api

### Data scraping using Twitter API

We are using tweepy to scrap data from twitter

In [82]:
import tweepy

ckey = "HiplqnbpuoicHUplOhG4md1E7"
csecret = "UBXIuDNsNZaG8z3AKLrtq4a5uB9eNyRfUfkYbXkvGh5LV1oDOt"
atoken = "4309537760-5rFQRussdad36rD9g6hHRLHPsxq7p8KhHL1ZedA"
asecret = "VdKxLLnUsYjqxd2kl4zP74Y1pSHGW6q5Hp8fRIKwwNG33"

OAUTH_KEYS = {'consumer_key':ckey, 'consumer_secret':csecret,
    'access_token_key':atoken, 'access_token_secret':asecret}
auth = tweepy.OAuthHandler(OAUTH_KEYS['consumer_key'], OAUTH_KEYS['consumer_secret'])
api = tweepy.API(auth)

Consumer Key, Consumer Secret, Access Token and Access Secret can be found https://developer.twitter.com/

In [84]:
for tweet in tweepy.Cursor(api.search, q=('"Chelsea FC"'),since='2018-04-24', until='2018-04-27').items(1):

    print ("Name:", tweet.author.name)
    print ("Screen-name:", tweet.author.screen_name)
    print ("Tweet created:", tweet.created_at)
    print ("Retweeted:", tweet.retweeted)
    print ("Favourited:", tweet.favorited)
    print ("Location:", tweet.user.location.encode('utf8'))
    print ("Time-zone:", tweet.user.time_zone)
    print ("Geo:", tweet.geo)
    print ("Text:", tweet.text)
    print ("Favourites Count:", tweet.user.favourites_count)
    print ("Friends Count:", tweet.user.friends_count)
    print ("Followers Count:", tweet.user.followers_count)
    print ("Statuses Count:", tweet.user.statuses_count)
    
    try:
        print ("hashtags:", tweet.entities['hashtags'][0]['text'])
    except IndexError:
        print("hashtags: None" )
    print ("URL:", tweet.entities['urls'])
    print ("//////////////////")

Name: Galang
Screen-name: Ga8lang
Tweet created: 2018-04-26 23:24:08
Retweeted: False
Favourited: False
Location: b'Jakarta Capital Region, Indonesia'
Time-zone: Beijing
Geo: None
Text: Chelsea Fc Since 1905
Favourites Count: 182
Friends Count: 206
Followers Count: 402
Statuses Count: 60747
hashtags: None
URL: []
//////////////////

The twitter api has lot more information but we just filter the columns which we required

Now we need to create a method to insert it directly into the database

But first we create a database connection and create a table name Twitter. We add the fields in the Twitter table.

A connection needs to be establish with the database before writing the query so we connect to our database

In [85]:
import sqlite3
con = sqlite3.connect('database.sqlite')
cursor=con.cursor()

After the connection has establish we write loop for inserting data into the database to eliminate manual insertion

We are making a relational database so we need to add player id into the database which is mapped in player table with its name. So we create a variable with player id and another with our search query and then we use it to insert data into the database

In [ ]:
player_id = 23783
player ="cahill"
for tweet in tweepy.Cursor(api.search, q=player,since='2018-04-22', until='2018-04-23').items(20):
    
        Name = tweet.author.name
        Screen_name = tweet.author.screen_name
        Twee_created = tweet.created_at
        Retweeted = tweet.retweeted
        Favourited = tweet.favorited
        Location = tweet.user.location
        Time_zone = tweet.user.time_zone
        Geo = tweet.geo
        Text = tweet.text
        Text=Text.replace('"','')
        Favourites_Count = tweet.user.favourites_count
        Friends_Count = tweet.user.friends_count
        Followers_Count = tweet.user.followers_count
        Statuses_Count = tweet.user.statuses_count
        try:
                Hashtags = tweet.entities['hashtags'][0]['text']
        except IndexError:
                Hashtags = "None"
        URL = tweet.entities['urls']

        
        format_str = """INSERT INTO TWITTER (Player_api_id, User_Name, Screen_Name, Tweet_created, Retweeted, Favourited, Location, 
                        Time_Zone, Geo, Text, Favourites_Count, Friends_Count, Followers_Count, Statuses_Count, Hashtags, URL)
                        VALUES("{id}", "{user}","{screen}","{created}","{retweet}","{fav}","{loc}","{zone}","{geo}","{text}",
                                "{fav_count}","{friends}","{follow_count}","{status_count}","{hashtags}","{url}");"""
    
        sql_command = format_str.format(id=player_id, user=Name, screen=Screen_name, created=Twee_created, retweet=Retweeted, 
                                       fav=Favourited, loc=Location, zone=Time_zone, geo=Geo, text=Text, fav_count=Favourites_Count,
                                       friends=Friends_Count, follow_count=Followers_Count, status_count=Statuses_Count,
                                        hashtags=Hashtags, url=URL)
        cursor.execute(sql_command)
        
        con.commit()

We are taking the data into variables and later inserting it through dummy variables in the sql query.  
We get error while running the loop with the post which does not contain any hashtags so we implemented exception handling for that error.

After each loop we need to commit the changes to the database otherwise the data won't be permanent. So we write con.commit() inside the loop.

In [87]:
con.close()

We close the database connection outside the loop to reduce the time taken for creating and destroying the database connection

Now our database has data data scrapped from twitter

### Data Scraping using Facebook API

In [90]:
%matplotlib inline 
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
from scipy import stats
import seaborn as sns
import warnings
import random
from datetime import datetime
random.seed(datetime.now())
warnings.filterwarnings('ignore')

# Make plots larger
plt.rcParams['figure.figsize'] = (10, 6)

In [91]:
# ACCESS_TOKEN = ''

ACCESS_TOKEN = 'EAACEdEose0cBAHiSryuDsH8Nb2u3D83ZCUXhMSTzY4iwmKot15ACOzeSvwSmp52G2unv6rqkF02nKfDka4Uxulk4HeS8nUtaeR6ADY86b8z9G5tnNecPHzT3CyJZBj7ZCY5GTLuGibMpqY7yByoNTwY37dmlmf1mot7YrLVyUTkbxGrCCTyOJwK2SwjglY0ZBJ2nuc3tYwZDZD'

You can get Facebook Accesss Token from their developer's website https://developers.facebook.com/docs/facebook-login/access-tokens

In [92]:
import requests # pip install requests
import json

base_url = 'https://graph.facebook.com/me'

# Specify which fields to retrieve
fields = 'id,name,likes'

url = '{0}?fields={1}&access_token={2}'.format(base_url, fields, ACCESS_TOKEN)
print(url)

https://graph.facebook.com/me?fields=id,name,likes&access_token=EAACEdEose0cBAHiSryuDsH8Nb2u3D83ZCUXhMSTzY4iwmKot15ACOzeSvwSmp52G2unv6rqkF02nKfDka4Uxulk4HeS8nUtaeR6ADY86b8z9G5tnNecPHzT3CyJZBj7ZCY5GTLuGibMpqY7yByoNTwY37dmlmf1mot7YrLVyUTkbxGrCCTyOJwK2SwjglY0ZBJ2nuc3tYwZDZD

In [ ]:
content = requests.get(url).json()
print(json.dumps(content, indent=1))

This gives us the our username and Facebook ID

In [96]:
import facebook
g = facebook.GraphAPI(ACCESS_TOKEN, version='2.7')

Create a connection to the Graph API with the access token

In [ ]:
query=['ChelseaFC']
feed = g.get_connections(query[0], 'posts')

It will search all the posts with the search query

In [98]:
def retrieve_page_feed(page_id, n_posts):
    """Retrieve the first n_posts from a page's feed in reverse
    chronological order."""
    feed = g.get_connections(page_id, 'posts')
    posts = []
    posts.extend(feed['data'])

    while len(posts) < n_posts:
        try:
            feed = requests.get(feed['paging']['next']).json()
            posts.extend(feed['data'])
        except KeyError:
            # When there are no more posts in the feed, break
            print('Reached end of feed.')
            break
            
    if len(posts) > n_posts:
        posts = posts[:n_posts]

    print('{} items retrieved from feed'.format(len(posts)))
    return posts

Defining a function to retrieve page feed by passing post id and number of posts to retrieve as parameters

In [ ]:
bs=retrieve_page_feed(query[0], 33)

Storing those posts in the dataframe

Now to insert into the database we first need to create a table called facebook and add fields required for storing the required data

In [99]:
con = sqlite3.connect('database.sqlite')
cursor=con.cursor()

In [ ]:
for x in range (20):
    
    try:
        likes = g.get_object(id=bs[x]['id'], 
                         fields=['likes.limit(0).summary(true)'])\
                         ['likes']['summary']['total_count']
    except KeyError:
        likes=0
    try:
        shares = g.get_object(id=bs[x]['id'], 
                         fields=['shares.limit(0).summary(true)'])\
                         ['shares']['count']
    except KeyError:
        shares=0
    try:
        comments = g.get_object(id=bs[x]['id'], 
                         fields=['comments.limit(0).summary(true)'])\
                         ['comments']['summary']['total_count']
    except KeyError:
        comments=0
    try:
        message = g.get_object(id=bs[x]['id'], fields=['message'])['message']
        message.replace('"','')
    except KeyError:
        message="None"
   
    
    format_str = """INSERT INTO Facebook (Team_api_id, Fan_Count, Likes, Shares, Comments, Messages)
                        VALUES("{id}", "{fan}","{likes}","{shares}","{comments}","{message}");"""
    
    sql_command = format_str.format(id=team_id, fan=fan, likes=likes, shares=shares, comments=comments, message=message)
    cursor.execute(sql_command)
        
    con.commit()

We are using exception handling to sanitize the data before inserting it into the database.

We are performing the insertion operation similar to that of twitter data using dummy variables

## References

* https://www.ntu.edu.sg/home/ehchua/programming/sql/Relational_Database_Design.html

* http://www.dummies.com/programming/sql/how-to-design-a-sql-database/

* https://www.lucidchart.com/pages/database-diagram/database-design

## LICENSE

MIT License  

Copyright (c) 2018 Prathamesh Tari and Akshay Shinde

Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the "Software"), to deal in the Software without restriction, including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the Software, and to permit persons to whom the Software is furnished to do so, subject to the following conditions:

The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.

<a rel="license" href="http://creativecommons.org/licenses/by/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by/4.0/88x31.png" /></a><br />This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by/4.0/">Creative Commons Attribution 4.0 International License</a>.